
<div>


<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Nome</th>
      <th scope="col">email</th>
      <th scope="col">Contacto</th>

      <th scope="col">Numero de encomendas</th>
      <th scope="col">Detalhes</th>
      
      
     
    
    </tr>
  </thead>
  <tbody>

    {% for user in object_list %}
      <tr >


      <th scope="row">{{ user.first_name }} {{user.last_name}}</th>
      <td>{{ user.email }}</td>
      <td>{{ user.profile.adress.contact}}</td>
      <td></td>
      
      <td class="text-center"><a href="#" class="brand-color "><i class="fas fa-info-circle"></i><a></td>

    </tr>
    {% endfor%}
    
  </tbody>
</table>


 <nav class="" aria-label="Page navigation example ">
  <ul class=" brand-color pagination justify-content-center mr-2 mt-5">
   


  {% if page_obj.has_other_pages %}

  {% if page_obj.has_previous %} 
    <li class="page-item">


      <a class="page-link" data-page="{{ page_obj.previous_page_number }}"  aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>

    </li>

    {% endif%}

    <li class="page-item "><a class="page-link " data-page="1" >1</a></li>
    <li class="page-item"><a class="page-link" data-page="2" >2</a></li>
    {% if page_obj.paginator.num_pages > 2 %}
    
    <li class="page-item"><a class="page-link" data-page="3" >3</a></li>

    {% endif%}




    {% if page_obj.paginator.num_pages > 10%}

   



      <li class="page-item aux"></li>
    <li class="page-item mx-2 pt-1"><a class=""><i class="brand-color fas fa-ellipsis-h"></i></a></li>

    <li class="page-item"><a class="page-link" data-page="{{page_obj.paginator.num_pages|add:-2}}" >{{page_obj.paginator.num_pages|add:-2}}</a></li>

    <li class="page-item"><a class="page-link" data-page="{{page_obj.paginator.num_pages|add:-1}}" >{{page_obj.paginator.num_pages|add:-1}}</a></li>

    <li class="page-item"><a class="page-link" data-page="{{page_obj.paginator.num_pages}}" >{{page_obj.paginator.num_pages}}</a></li>
    {% elif page_obj.paginator.num_pages == 4%}
     <li class="page-item"><a class="page-link" data-page="{{page_obj.paginator.num_pages}}" >{{page_obj.paginator.num_pages}}</a></li>


    {% elif page_obj.paginator.num_pages > 4%}



 <li class="page-item aux"></li>

    <li class="page-item mx-2 pt-1"><a class=""><i class="brand-color fas fa-ellipsis-h"></i></a></li>
    

    <li class="page-item"><a class="page-link" data-page="{{page_obj.paginator.num_pages}}" >{{page_obj.paginator.num_pages}}</a></li>










    {% endif%}

  {% if page_obj.has_next %} 
    
    <li class="page-item">


      <a class="page-link" data-page="{{ page_obj.next_page_number }}"  aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
    {% endif%}

  </ul>
</nav> 
    {% endif%}
</div>


<script>

var page={{page_obj.number}};
$( document ).ready(function() {

let flag=false;


$( ".page-link" ).each(function() {
  console.log($(this).data())   
  console.log(page)   
  if($(this).data("page")===page){
      flag=true;
      $(this).addClass("selected");
    
      

  }

});
});
</script>