{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="main px-3">
    <form  class="form" enctype="multipart/form-data" action="{% url 'product-create' %}" method="post" >
    {% csrf_token %}
    {{form|crispy}}
    {{ form.media }}
    <div id="selectors-image" class="form-group ">
    <label>Imagens</label>

    <div class="input-group ">
    <a class="d-none mr-2 brand-color h5 btn-img-remove"><i class="far fa-trash-alt"></i></a>
    <input name="images" class="insert-image clearablefileinput "type='file'>
    </div>
    </div>




  {% if 'category' in form.errors%}

    

    <div class="form-group " >
    <label>Categorias</label>

    <div id="categories-dropdown">
    <select class="custom-select my-1 mr-sm-2 categories-drop form-control is-invalid" data-depth="0" id="category0">
                <option value="-1">Selecione a Categoria</option>
              {%for category in categories%}
              <option value="{{category.pk}}">{{ category}}</option>
              {%endfor%}
    </select>
    
    <p id="" class="invalid-feedback"><strong>Este campo é obrigatório.</strong></p>
    </div>
    </div>

  {% else %}
  

    <div class="form-group " >
    <label>Categorias</label>

    <div id="categories-dropdown">
    <select class="custom-select my-1 mr-sm-2 categories-drop form-control " data-depth="0" id="category0">
                <option value="-1">Selecione a Categoria</option>
              {%for category in categories%}
              <option value="{{category.pk}}">{{ category}}</option>
              {%endfor%}
    </select>
    
   
    </div>
    </div>

  {% endif %}

    <div id="specs-form"class="form-group">
       
        <label>Especificações</label>


    </div>
    <div class="form-row">
        
        
        <div class="form-group col-6  ">
            <label class="">Especificação</label>
            
                <input id="input-spec" type='text' class="form-control " >
           
        </div>
                <div class="form-group col-6  ">
            <label class="">Dados</label>
            
                <input id="input-spec-data" type='text' class="form-control" >
            
        </div>
    </div>

    <input type="hidden" name="json-specs" id="json-specs">


    <a id="btn-add-spec" class="btn btn-main m-0">Adicionar</a>
    <br> 
    <a id="submit" class="btn btn-main mt-3 m-0">Criar Produto</a>




    </form>

</div>


<script>


$(document).on('click', '#submit', function(){

  let specsRaw=$('.spec');
  console.log(specsRaw)


  var jsonSpecs={}

  let label
  let input


  $( specsRaw ).each(function() {
        label=$(this).find('.spec-label').text();
        input=$(this).find('.spec-input').val();

        jsonSpecs[label]=input
        console.log(label+"         "+input)

});

  console.log(jsonSpecs)
   

    $("#json-specs").val(JSON.stringify(jsonSpecs))

    $("form").submit()

});
$(document).on('click', '.btn-spec-update', function(){

    let parent=$(this).parent().parent();
    let label=parent.find('label');
    let input=parent.find('input');

    $("#input-spec").val(label.text());
    $("#input-spec-data").val(input.val());
    parent.remove();

});

$(document).on('click', '.btn-spec-remove', function(){

    let parent=$(this).parent().parent();
    parent.remove();
    console.log(parent)



});

$(document).on('click', '.btn-img-remove', function(){

    let parent=$(this).parent();
    parent.remove();
    console.log(parent)



});

 {% comment %} {% endcomment %}
 $( "#btn-add-spec" ).click(function() {


    $(".errorlist").remove();
    let spec=$("#input-spec").val()
    let spec_data=$("#input-spec-data").val()
    if(spec==="" || spec_data===""){
        $("#specs-form").prepend(' <div class="px-2 mx-0 errorlist"><p>Verifique os Campos<p> </div>')



    }

    else{
    $("#specs-form").append('<div class="form-group row spec "> <label class="spec-label col-4 col-form-label">'+spec+'</label> <div class="input-group mx-3 " style="flex: 1"> <a class="mr-2 brand-color h4 btn-spec-remove"><i class="far fa-trash-alt"></i></a> <a class="mr-2 brand-color h4 btn-spec-update"><i class="far fa-edit"></i></a> <input id="" type="text" value="'+spec_data+'"readonly class="spec-input form-control" > </div> </div>')

    
    $("#input-spec").val("")
    $("#input-spec-data").val("")

    }


  console.log(spec+"   "+spec_data)  


 }
);
	


$(document).on('change', 'input[type="file"].insert-image', function(){    
let parent=$(this).parent();
parent.find('a').removeClass("d-none")

$(this).addClass("visuallyhidden");
var filename = $(this).val().split('\\').pop();


parent.append('<p>'+filename+'<p>');
 console.log("inserted");
      $("#selectors-image").append('<div class="input-group "><a class="d-none mr-2 brand-color h5 btn-img-remove"><i class="far fa-trash-alt"></i></a> <input name="images" class="insert-image clearablefileinput "type="file"></div>');
     
});
    



$(document).on('change','.categories-drop', function(e){




  






  var depth=parseInt($(this).attr("data-depth"));
  console.log(depth);

  var selects=$("#categories-dropdown").children("select");


  

  console.log(parseInt($(selects[selects.length-1]).attr("data-depth")));

  if (parseInt($(selects[selects.length-1]).attr("data-depth"))>depth){
      console.log("erro");
      $(selects).each(function() {
        if (parseInt($(this).attr("data-depth"))>depth){
          $(this).remove();

        }
        
    
      });

  }




  var categoryId = $(this).val();  // get the selected country ID from the HTML input

  if (categoryId !=="-1"){
    $("#id_category").val(categoryId);

      $.ajax({                       // initialize an AJAX request
        url:"{% url 'ajax-load-categories' %}",
                        // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
            'category': categoryId       // add the country id to the GET parameters
        },
        success: function (data) {
          ////console.log("sucesso")
          console.log(data)
            ////console.log(data.length)

          if(data.length!==0){

            var sel=$('<select>').appendTo('#categories-dropdown').addClass("form-control categories-drop mt-3").attr("data-depth",data[0].fields.depth);
            sel.append($("<option>").text("Selecione Subcategoria").attr('value',"-1"));    

            }
          
          $(data).each(function() {

              sel.append($("<option>").attr('value',this.pk).text(this.fields.name.replaceAll(" ", "\xa0")));
        
          });


          $("#teste").html(data);  // replace the contents of the city input with the data that came from the server
          $('#id_category').attr("value", $('#var').val());
          ////console.log($('#id_category').val());

          ////console.log($('.categories-drop'));
        }
      });

  }
  
});

function tinyBug() {
  const el =tinymce.editors ;
  console.log(el)
  console.log(el.lengh)

  if (el.length) {
    
      tinymce.remove('textarea');
      tinymce.init({
  selector: '#id_detail',  // change this value according to your HTML
  
});

  } else {
    setTimeout(tinyBug, 100); // try again in 300 milliseconds
  }
}



$( document ).ready(function() {
   tinyBug() 
  
});



</script>
{% endblock content %}
