{% extends 'base.html' %}
{% load static %}

{% block content %} 

<div class="main pl-4 pb-5">

<h1 class="">Checkout</h1>
<h2 class="pb-4 brand-color">Método de Envio e Pagamentos</h2>

<h1 class="h2 font-weight-bold mb-4 ">Método de Envio</h1>
<p class="" >Escolha o método de Envio:</p>


{% for shipment in shipments%}


<div data-url="{% url 'checkout-payment-get-total' shipment.pk %}" data-pk="{{shipment.pk}}"class="px-2 row justify-content-between mx-0 sender mb-4" style=" ">
<p class="my-2 first">{{shipment.name}}</p>
<p class="my-2" >{{shipment.price}} €</p>
</div>


{% endfor%}

<div  class="payment blocked" >
<h1 class="h2 font-weight-bold my-4 ">Método de Pagamento</h1>
<p class="font-weight-bold brand-color " >Total: <span id="payment-total" style="color:black;">Escolha um método de Envio</span> </p>
<p class="" >Escolha o método de pagamento:</p>

<hr>
<div style=""class="row  mx-0 text">
<input type="radio" style="height:26px" class="mr-2"id="multibanco" name="method" data-div="div-mb" data-url="{% url 'checkout-payment-mb'%}"value="multibanco">

<label class="h5" for="multibanco">Multibanco</label>
</div>
<div id="div-mb">

</div>

<hr>
<div style=""class="row  mx-0 text">
<input type="radio" style="height:26px" class="mr-2"id="mbway" name="method" data-div="div-mbway" data-url="{% url 'checkout-payment-mbway'%}" value="mbway">
<label class="h5" for="mbway">MB WAY</label>
</div>
<div id="div-mbway">

</div>
<hr>




<div style=""class="row  mx-0 text">
<input type="radio" style="height:26px" class="mr-2" id="payshop" name="method" data-div="div-payshop" data-url="{% url 'checkout-payment-payshop'%}" value="payshop">

<label class="h5" for="payshop">Payshop</label>

</div>
<div id="div-payshop">
    
</div>
<hr>



</div>
</div>


<script>
{% comment %}  {% endcomment %}

var shipment_pk

$(document).on('click', '.order-submit', function(){

    console.log("click");
    $("[name='shipment']").val(shipment_pk);
    $(".form").submit()
});


$(".sender").click(function() {
    $(".sender").removeClass("selected") ;
    $(this).addClass("selected")
    shipment_pk=$(this).data("pk")
    url=$(this).data("url")
   
     $.ajax({                       
        url:url,
                        
        data: {
            
        },
        success: function (data) {
            console.log(data);
            let dataJSON=JSON.parse(data);
            $("#payment-total").text(dataJSON.total)
            $(".payment").removeClass("blocked") ;
            
        },
        
    });

    });


$(".payment input[name='method']").click(function() {
    url=$(this).data("url");
    data_div=$(this).data("div");
    console.log(data_div)
    div=$("#"+data_div);
    console.log(div)
    $(".div-payment").remove();
    $.ajax({                       
        url:url,
                        
        data: {
            
        },
        success: function (data) {
            console.log(data);
            div.append(data)
        },
        
    });

    });



</script>
{% endblock %}

