











{% extends 'base.html' %}
{% load static %}

{% block content %}

<style>

</style>

<div class="main pb-5">

<div style="overflow: hidden;" class="d-flex px-3">

<a href="{% url 'index' %}" class="mr-1 nostyle">Home</a>
<p class="mr-1">><p>
{% for category in path%}


<a href="{% url 'see-products-args' category.pk%}" class="mr-1 nostyle">{{category.name}}</a>
<p class="mr-1">><p>

{% endfor%}

<a href="#" class="mr-1 font-weight-bold  brand-color nostyle path-name">{{product.name}}</a>

</div>
  <div class="row px-3">
    <div class="col-md-12 col-lg-6 left">
      <h1 class="h1 pb-2 view-mobile" style="">{{product.name}}</h1>


      {% if product.image_set.all%}


      <div id="carousel-product" class="carousel slide" data-ride="carousel">
        
        <div class="carousel-inner">
          <div class="carousel-item active">

            <div style="height:500px"class="d-flex justify-content-center align-items-center">
              <img class="d-block " src="{{product.main_image.url}}" style="max-width:700px" alt="First slide">
            </div>
            
          </div> 
          {% for img in product.image_set.all%}

          <div class="carousel-item">

            <div style="height:500px"class="d-flex justify-content-center align-items-center">
              <img class="d-block " src="{{img.image.url}}" style="max-width:700px" alt="First slide">
            </div>


          </div>
          {% endfor%}
        </div>

        <a class="carousel-control-prev" href="#carousel-product" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel-product" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>

        
        <div class="row thumbnails pt-4 ">
          <div class="col carousel-indicators text-center" >
            <img class="active mx-1 pb-1" src="{{product.main_image.url}}"  data-target="#carousel-product" data-slide-to="0">
            {% for img in product.image_set.all%}
            

            
            <img class="mx-1 pb-1" src="{{img.image.url}}"  data-target="#carousel-product" data-slide-to={{forloop.counter}}>
            



            
            
            {% endfor%}
            {% comment %} 
            <img class="active" src="{% static 'store/images/p1.jpg' %}"  data-target="#carousel-product" data-slide-to="0">
            <img class="" src="{% static 'store/images/p2.jpg' %}"  data-target="#carousel-product" data-slide-to="1">
            <img class="" src="{% static 'store/images/p3.jpg' %}"  data-target="#carousel-product" data-slide-to="2"> {% endcomment %}
            
            

          </div>
        </div>
        
      </div>
          
          {% else %}
          <div style="height:500px"class="d-flex justify-content-center align-items-center">
            <img class="d-block " src="{{product.main_image.url}}" style="max-width:700px; max-height:500px" alt="First slide">
          </div>
          

          {% endif%}
      

<div class="view-desktop">
      <div class="mt-5 ml-4 mb-2 product-info row  ">    
        <h2 style="" class="active">Descrição</h2>
        
      </div>

      <div class=" p-4 bg-gray">


        {{product.detail|safe }}
      </div>
    </div>
</div>








    <div class="col right  pt-5"> 

      <h1 class="h1 pb-2 view-desktop" style="max-width: 794px;word-wrap: break-word;">{{product.name}}</h1>
      <p style="color:gray" class="h4 mb-4 font-weight-normal">{{product.description}}</p>
      <h1 class="brand-color  font-weight-bold font-xl">{{product.price}}€</h1>
      <p class="pt-2 "><span class="brand-color font-weight-bold ">*</span> Valor com IVA incluido</p>
      <p><span class="brand-color font-weight-bold">*</span> Portes de envio <span class="brand-color font-weight-bold">não incluidos</span> </p>
      
              {% if product.stock > 0 %}
        <p class="font-weight-bold"style="color:#229010"><i class="fas fa-check-square"></i> Entrega prevista em 2 dias úteis</p>

        {% else %}
        <p class="aval font-weight-bold" style="color:#bd2130;"><i class="far fa-times-circle"></i> Indisponível</p>

        {% endif%}

<div class="center-sm">
      <a id="btn-add-cart" class="btn btn-main">Adicionar Ao Carrinho</a>
</div>





    </div>





























  </div>
<div class="view-mobile">
      <div class="mt-5 ml-4 mb-2 product-info row  ">    
        <h2 style="" class="h1 active">Descrição</h2>
        
      </div>

      <div class=" p-4 bg-gray">


        {{product.detail|safe }}
      </div>
    </div>
</div>

</div>
<script>


  $("#btn-add-cart").click(function() {
    createGray();

    $.ajax({                       
      url:" {% url 'ajax-add-cart' product.pk %}",
      
      data: {
        
      },
      success: function (data) {
        let overlay_cart=$('#overlay-cart');
        overlay_cart.empty();
        overlay_cart.append(data);
        overlay_cart.css('display', 'block');
        
        cart_flag=true
      },
      
    });

  });



$( document ).ready(function() {
  var cut_index=30
    var name=$(".path-name")
    var temp_title=name.text()


      
   
      if(temp_title.length>cut_index){

        console.log("é maiore")
        temp_title=name.text().slice(0,cut_index-3)
        name.text(temp_title+"...")
      }
});
</script>
{% endblock %}
