{% extends 'base-admin.html' %}



{% load static %}

{% block contentRight %} 


<div class="modal fade" id="modal-update" tabindex="-1" role="dialog" aria-labelledby="modal-update-label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title font-weight-bold" id="modal-update-label">Está prester a alterar o estado para:</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-main btn-secondary" data-dismiss="modal">Fechar</button>
        <button data-url="{% url 'administrator-update-order' order.pk %}" type="button" id="btn-send-form" class="btn btn-main">Guardar</button>
      </div>
    </div>
  </div>
</div>









<div class="main px-4 pb-5 ">



<h1 class="h1 mb-4  mt-3">Detalhes da Encomenda</h1>
<h2 class="h4 pb-2 font-weight-bold brand-color mb-4">Estado da encomenda: <br><span class="" style="color:black">{{order.get_state_display}}</span></h2>

{% if order.state == "1"%}
<div class="row py-2 mb-4 bg-brand-color-2" >
    <div class="col">
        <h5 class="h4 brand-color">Dados para Pagamento:</h5>
        <h6 class="h6 font-weight-bold mb-3">{{ order.payment.name}} </h6>
        {% for detail in order.payment.detail_set.all%}
        <p class="mb-1"><span class="font-weight-bold">{{detail.title}}:</span> {{detail.description}}</p>
        {% endfor%}
        
    </div>
</div>
{% endif%}

<div class="row mt-2">
    <div class="col-md-12 col-lg-6">
    

    <p><span class="font-weight-bold">Encomenda Nº:</span> {{order.pk}}</p>  
    <p><span class="font-weight-bold">Data de Compra:</span> {{order.creation_date}}</p>   
    <p><span class="font-weight-bold">Método de Envio:</span> {{ order.shipment.name}}</p>   
    <p><span class="font-weight-bold">Anexos:</span> {{ order.shipment.name}}</p>   

    </div>
    <div class="col-md-12 col-lg-6">
    <p><span class="font-weight-bold">Valor:</span> {{order.total}} €</p>  
    <p><span class="font-weight-bold">Notas:</span> {{order.note}}</p>  
    <p><span class="font-weight-bold">Utilizador:</span> <a  href="#">{{order.user.email}}</a></p>  

    <p></p>   
    </div>

</div>

{% if order.state != "4"%}

        <a data-url="{% url 'administrator-update-order' order.pk %}"id="btn-update-state" data-toggle="modal" data-target="#modal-update" class="btn btn-main">Atualizar Estado</a>
{% endif%}

<div class="pt-3">

<h2 class="h4 pb-4 brand-color">Detalhes do envio: </h2>
    <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">ref</th>

      <th scope="col">Produto</th>
      <th scope="col">QTD</th>
      <th scope="col">Preço (€)</th>
      <th scope="col">Total (€) </th>
      

    
    </tr>
  </thead>
  <tbody>

    {% for item in order.cart.items.all %}
    <tr>
      <th scope="row">{{ item.product.pk }}</th>

      <th >{{ item.product.name }}</th>
      <td>{{ item.quantity }}</td>
      <td>{{ item.product.price }}</td>
      <td>{{ item.total }}</td>
      
      

    </tr>

    {% endfor%}
    

    </div>
    

  </tbody>
</table>
    <div class="row ml-0 ">
        <div class="">
            <table class="table borderless">
            <tbody>
                <tr class="h6">
                    <th class="text-right   brand-color">Sub-total:</th>
                    <th>{{ order.cart.total }} €</th>

                </tr>
                                <tr class="h6">
                    <th  class="text-right  brand-color">Portes:</th>
                    <th>{{  order.shipment.price }} €</th>
                </tr>
                                <tr class="h6">
                     <th class="text-right brand-color">Total:</th>
                    <th>{{  order.total}} €</th>
                </tr>
            </tbody>
            </table>

      

        </div>
</div>

<div class="mt-4 row  justify-content-center">

<div class="col-md-12 col-lg-6">
<h4 class="h5 ml-0 brand-color">Morada de Envio</h4>

<p>{{order.adress.receiver}}</p>
<p>{{order.adress.street}}</p>
<p>{{order.adress.postal_code}}, {{order.adress.city}} </p>
<p>tel: {{order.adress.contact}}</p>
<p>nif: {% firstof order.adress.nif "Sem nif"  %} </p>



</div>

<div class="col-md-12 col-lg-6">
<h4 class="h5 ml-0 brand-color">Morada de Faturação</h4>
{% if order.adress_billing%}
<p>{{order.adress_billing.receiver}}</p>
<p>{{order.adress_billing.street}}</p>
<p>{{order.adress_billing.postal_code}}, {{order.adress_billing.city}} </p>
<p>tel: {{order.adress_billing.contact}}</p>
<p>nif: {% firstof order.adress_billing.nif "Sem nif"  %} </p>
{% else%}
<p>Por defeito a sua morada de faturação foi igual à sua morada de Envio</p>

{% endif %}
</div>
</div>

<h4 class="h5 ml-0 pt-2 brand-color">Método de Pagamento</h4>
<p>{{order.payment.name}}</p>


</div>
</div>

<script>

$(document).on('click', '#btn-send-form', function(){


     url=$(this).data("url")
    var formData = new FormData();
    form=$("#form-update")
    $( "#form-update input" ).each(function() {

        console.log($(this).attr("name")+"      "+$(this).val() )


        if($(this).attr("type")==='file' ){
        formData.append($(this).attr("name"),$(this)[0].files[0]   );
        console.log($(this).attr("name")+"      "+$(this)[0].files[0]  );
        console.log("if")   

        }
        else{

        formData.append($(this).attr("name"),$(this).val()   )
        console.log("else")   

        }



    });

            console.log(formData)
     $.ajax({     

           
           type: 'POST',
              url: url,
              data: formData,
              cache: false,
              processData: false,
              contentType: false,
              enctype: 'multipart/form-data',
            success: function (data) {
                if (data==='1'){
                    location.reload(); 

                }
                else{

                $('#modal-update .modal-body').empty()
                $('#modal-update .modal-body').append(data)

                }
              console.log(data);
            },
            
        });



 });

 $( "#btn-update-state" ).click(function() {
     url=$(this).data("url")

     $.ajax({     

            url:url,
            type:"GET",           
            data: {
                
                
                
            },
            success: function (data) {
                $('#modal-update .modal-body').empty()
                $('#modal-update .modal-body').append(data)
              console.log(data);
            },
            
        });

 });
</script>
{% endblock %}
