{% extends 'base-admin.html' %}



{% load static %}

{% block contentRight %} 
<a href="{% url "administrator-shipments-create" %}"class=" nostyle "><span class="brand-color"><i class="fas fa-plus-square"></i></span>   Adicionar novo</a>

<table class="mt-2 table table-striped">
  <thead>
    <tr>
      <th scope="col">Nome</th>
      <th scope="col">Preço</th>
     
   
    </tr>
  </thead>
  <tbody>

    {% for shipment in object_list %}
      <tr >


      <th scope="row">{{ shipment.name}} </th>
      <td>{{ shipment.price }}</td>

<td>
    <div class="dropdown show">
  <a class="brand-color dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
   <i class="fas fa-cogs"></i>
  </a>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    
    <a href="{% url 'administrator-shipments-update' shipment.pk%}" class="dropdown-item" href="">Editar</a>
    <a id="delete-btn" data-pk="{{shipment.pk}}" class="dropdown-item" href="#">Apagar</a>
  </div>
</div>

</td>


    </tr>
    {% endfor%}
    
  </tbody>
</table>

<script>
$(document).on('click', '#delete-btn', function(){  
  


    id=$(this).data("pk");
    parent=$(this).parents("tr")

    url="{% url 'ajax-administrator-shipments-delete' %}"

           $.ajax({                       
      url:url,
      
      data: {
        'pk':id,
      },
      success: function (data) {
        
        parent.remove()
      },
      
    }); 
  });
</script>





{% endblock %}

