<div id="account"class="right">

<h1 class="h2 font-weight-bold mb-4">A minha conta</h1>
<div class="info">
<h2 class="h4 "> Informação de Contacto</h2>
<hr style="border-top:2px solid rgba(0,0,0,.1); border-radius:25px" >
<p>{{user.first_name}} {{user.last_name}}</p>
<p>{{user.email}}</p>

<div class="center-sm">
<a href="{% url "dashboard-args" 4%}"  class="btn btn-main px-4">Editar</a>
</div>




</div>
<div  class="info">
<h2 class="h4 ">Encomendas</h2>

<table class="table table-borderless" style="max-width:400px">
  
  <tbody>
    <tr>
      <th scope="row">A Aguardar Pagamento</th>
      <td>{{A_Aguardar_Pagamento}}</td>

    </tr>
    <tr>
      <th scope="row">A Processar</th>
      <td>{{A_Processar}}</td>
    </tr>
    <tr>
      <th scope="row">Enviadas</th>
      <td>{{Enviadas}}</td>
    </tr>
        <tr>
      <th scope="row">Concluidas</th>
      <td>{{Concluidas}}</td>
    </tr>
  </tbody>
</table>
<div class="center-sm">
<a href="{% url 'dashboard-args' 2%}" class="btn btn-main px-4">Ver Encomendas</a>
</div>


</div>
</div>