














<div id="my-adresses" class="right adress w-100">


<div class="modal fade" id="adressModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="max-width:1000px"role="document">

  </div>
</div>


<div id=""class=" ">
  <h1 class="h2 font-weight-bold mb-4">As Minhas Moradas</h1>
  <div class="info">
    <h2 class="h4 mb-3">Endereço de Envio</h2>
<hr style="border-top:2px solid rgba(0,0,0,.1); border-radius:25px" >

    {% if adress%}




    
    <form class="">
      <div class="form-group ">
            <label class="brand-color2 font-weight-bold"for="exampleInputEmail1">Destinatário:</label>
            <input disabled type="email" class="form-control-plaintext " id="exampleInputEmail1" aria-describedby="emailHelp" value="{{adress.receiver}}" placeholder="{{adress.receiver}}">
      </div>
      <div class=" row ">
        <div class="col-md-12 col-lg-2 form-group">
                      <label class="brand-color2 font-weight-bold"for="exampleInputEmail1">Código Postal:</label>
            <input type="email" class="form-control-plaintext" id="exampleInputEmail1" aria-describedby="emailHelp" disabled value="{{adress.postal_code}}">
        </div>
        <div class="col-md-12 col-lg-3 form-group">
                    <label class="brand-color2 font-weight-bold"for="exampleInputEmail1">Cidade:</label>
            <input type="email" class="form-control-plaintext" id="exampleInputEmail1" aria-describedby="emailHelp" disabled value="{{adress.city}}">
        </div>
        <div class="col-md-12 col-lg-5 form-group">
            <label class="brand-color2 font-weight-bold"for="exampleInputEmail1">Distrito:</label>
            <input type="email" class="form-control-plaintext" id="exampleInputEmail1" aria-describedby="emailHelp" disabled value="{{adress.district}}">
        </div>
      </div>
      <div class="form-group ">
            <label class="brand-color2 font-weight-bold"for="exampleInputEmail1">Contacto:</label>
            <input type="email" class="form-control-plaintext" id="exampleInputEmail1" aria-describedby="emailHelp" disabled value="{{adress.contact}}">
      </div>

      <div class="form-group ">
            <label class="brand-color2 font-weight-bold"for="exampleInputEmail1">NIF:</label>
            <input type="email" class="form-control-plaintext" id="exampleInputEmail1" aria-describedby="emailHelp" disabled value="{% firstof adress.nif 'Sem Nif'%}">
      </div>




    </form>
<div class="center-sm">
     <a data-url="{% url 'edit-adress' 'normal' %}" href="#!" class="ajax btn btn-main">Editar</a>
</div>






    {% else %}
    <p>Ainda não definiu nenhuma morada</p>

<div class="center-sm">
    <a href="#!" data-url="{% url 'edit-adress' 'normal' %}"class="ajax btn btn-main">Editar</a>
</div>


    {% endif%}


  </div>
  <div class="info">
    <h2 class="h4 mb-3 mt-5">Endereço de Faturação</h2>
<hr style="border-top:2px solid rgba(0,0,0,.1); border-radius:25px" >

  {% if adress_billing%}
     <form class="">
      <div class="form-group ">
            <label class="brand-color2 font-weight-bold"for="exampleInputEmail1">Destinatário:</label>
            <input type="email" class="form-control-plaintext" id="exampleInputEmail1" aria-describedby="emailHelp" disabled value="{{adress_billing.receiver}}">
      </div>
      <div class=" row ">
        <div class="col-md-12 col-lg-2 form-group">
                      <label class="brand-color2 font-weight-bold"for="exampleInputEmail1">Código Postal:</label>
            <input type="email" class="form-control-plaintext" id="exampleInputEmail1" aria-describedby="emailHelp" disabled value="{{adress_billing.postal_code}}">
        </div>
        <div class="col-md-12 col-lg-3 form-group">
                    <label class="brand-color2 font-weight-bold"for="exampleInputEmail1">Cidade:</label>
            <input type="email" class="form-control-plaintext" id="exampleInputEmail1" aria-describedby="emailHelp" disabled value="{{adress_billing.city}}">
        </div>
        <div class="col-md-12 col-lg-5 form-group">
            <label class="brand-color2 font-weight-bold"for="exampleInputEmail1">Distrito:</label>
            <input type="email" class="form-control-plaintext" id="exampleInputEmail1" aria-describedby="emailHelp" disabled value="{{adress_billing.district}}">
        </div>
      </div>
      <div class="form-group ">
            <label class="brand-color2 font-weight-bold"for="exampleInputEmail1">Contacto:</label>
            <input type="email" class="form-control-plaintext" id="exampleInputEmail1" aria-describedby="emailHelp" disabled value="{{adress_billing.contact}}">
      </div>

      <div class="form-group ">
            <label class="brand-color2 font-weight-bold"for="exampleInputEmail1">NIF:</label>
            <input type="email" class="form-control-plaintext" id="exampleInputEmail1" aria-describedby="emailHelp" disabled value="{% firstof adress_billing.nif 'Sem Nif'%}">
      </div>




    </form>

<div class="d-flex center-sm">
    <a  data-url="{% url 'edit-adress' 'billing' %}" href="#!" class="ajax btn btn-main">Editar</a>





    <a href="#!" id="delete-adress-billing-btn" class="btn btn-main ml-4">Apagar</a>
    </div>
  {% else %}
  <p>Por defeito a morada de faturação é a igual à morada de envio, clique para editar</p>

  <div class="center-sm">
  <a data-url="{% url 'edit-adress' 'billing' %}" href="#!" class="ajax btn btn-main">Editar</a>
</div>



  {% endif%}






<div id="temp" class="d-none">


</div>






  </div>

</div>
</div>

<script>
  flag_sucess= {% if flag_sucess %}true{% else %}false{% endif%} ;
  console.log("debug!!!!!!!!!!!!!!!!!!")
  console.log(flag_sucess)
  console.log("!!!!!!!!!!!!!!!!!")


  $(document).on('click', '.ajax', function(){ 
    console.log("aqui!!!!!!!!!!!!!!!!")
    //$("#adressModal .modal-dialog").removeClass("d-none")

    url=$(this).data("url");

    $.ajax({                       
      url:url,
      
      data: {
        
      },
      success: function (data) {
        
        
        $("#adressModal .modal-dialog").empty();

        $("#adressModal .modal-dialog ").append(data);
        $('#adressModal ').modal('show')
      },
      
    });



  });

 $(document).on('click', '#delete-adress-billing-btn', function(){ 
$.ajax({                       
      url:"{% url 'ajax-delete-adress-billing' %}",
      
      data: {
        
      },
      success: function (data) {
        
          $('.modal-backdrop').remove()
          $('body').removeClass("modal-open")
          $(".adress").empty()
             
           $(".adress").append(data)
        
      },
      
    });


 });
</script>

