

















<div class="modal fade" id="adressModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="max-width:1000px"role="document">

  </div>
</div>


<div id="my-adresses"class="right adress">
  <h1 class="h2 font-weight-bold mb-4">As Minhas Moradas</h1>
  <div class="info">
    <h2 class="h4 mb-3">Endereço de Envio</h2>
<hr style="border-top:2px solid rgba(0,0,0,.1); border-radius:25px" >

    {% if user.profile.adress%}





    
    <form class="ml-3">
      <div class="form-group row mb-0">
        <label for="first-name" class="brand-color2 col-md-3 col-lg-2 col-form-label">Destinatário:</label>
        
        <label class="col-md-9 col-lg-10 col-form-label">{{user.profile.adress.receiver}}</label>
        

        
      </div>
      <div class="form-group row mb-0">
        <label for="first-name" class="brand-color2 col-md-3 col-lg-2 col-form-label">Morada: </label>
        <label class="col-md-9 col-lg-10 col-form-label">{{user.profile.adress.street}}</label>
      </div>
      


      <div class=" form-group mb-0 row location">
       
        <label class="brand-color2 col-md-3 col-lg-2 col-form-label "> Código Postal:</label>
        
        <label class="col-md-9 col-lg-2  col-form-label">{{user.profile.adress.postal_code}}</label>

        <label class="brand-color2 col-md-3 col-lg-1   col-form-label "> Localidade:</label>
        <label class="col-md-9 col-lg-2 col-form-label">{{user.profile.adress.city}}</label>

        <label class="brand-color2 col-md-3 col-lg-1  col-form-label "> Distrito:</label>
        <label class="col-md-9 col-lg-2  col-form-label">{{user.profile.adress.district}}</label>

      </div>

      <div class="form-group row mb-0">
        <label for="first-name" class="brand-color2 col-md-3 col-lg-2 col-form-label">Contacto: </label>
        <label class="col-md-9 col-lg-10 col-form-label">{{user.profile.adress.contact}}</label>

      </div>
      <div class="form-group row">
        <label for="first-name" class="brand-color2 col-md-3 col-lg-2 col-form-label">Nif: </label>

        
        <label class="col-md-9 col-lg-10 col-form-label">{% firstof user.profile.adress.nif "Sem Nif"  %}</label>
        
        
      </div>


    </form>
  <div class="center-sm">
     <a data-url="{% url 'edit-adress' 'normal' %}" href="#" class="ajax btn btn-main">Editar</a>
</div>






    {% else %}
    <p>Ainda não definiu nenhuma morada</p>

<div class="center-sm">
    <a href="# " data-url="{% url 'edit-adress' 'normal' %}"class="ajax btn btn-main">Editar</a>
</div>


    {% endif%}


  </div>
  <div class="info">
    <h2 class="h4 mb-3 mt-5">Endereço de Faturação</h2>
<hr style="border-top:2px solid rgba(0,0,0,.1); border-radius:25px" >

  {% if user.profile.adress_billing%}
  <form class="ml-3">
    <div class="form-group row">
      <label for="first-name" class="brand-color2 col-sm-2 col-form-label">Nome ou Empresa:</label>
      
      <label class="col-sm-10 col-form-label">{{user.profile.adress_billing.receiver}}</label>
      

      
    </div>
    <div class="form-group row">
      <label for="first-name" class="brand-color2 col-sm-2 col-form-label">Morada: </label>
      <label class="col-sm-10 col-form-label">{{user.profile.adress_billing.street}}</label>
    </div>

    <div class=" form-group  row location">
     
      <label class="brand-color2 col-sm-2 col-form-label "> Código Postal:</label>
      
      <label class="col-sm-2 col-form-label">{{user.profile.adress_billing.postal_code}}</label>

      <label class="brand-color2 col-sm-1  col-form-label "> Localidade:</label>
      <label class="col-sm-2 col-form-label">{{user.profile.adress_billing.city}}</label>

      <label class="brand-color2 col-sm-1  col-form-label "> Distrito:</label>
      <label class="col-sm-2 col-form-label">{{user.profile.adress_billing.district}}</label>

    </div>

    <div class="form-group row">
      <label for="first-name" class="brand-color2 col-sm-2 col-form-label">Contacto: </label>
      <label class="col-sm-10 col-form-label">{{user.profile.adress_billing.contact}}</label>

    </div>

    <div class="form-group row">
      <label for="first-name" class="brand-color2 col-sm-2 col-form-label">NIF: </label>
      <label class="col-sm-10 col-form-label"> {% firstof user.profile.adress_billing.nif "Sem Nif"  %}           </label>

    </div>



    {% comment %} Ver este botão, não tem função atribuida {% endcomment %}








  </form>

<div class="center-sm">
    <a data-url="{% url 'edit-adress' 'billing' %}" href="#" class="ajax btn btn-main">Editar</a>
</div>




    <a href="{% url 'edit-adress' 'billing' %}" class="ajax btn btn-main">Apagar</a>
  {% else %}
  <p>Por defeito a morada de faturação é a igual à morada de envio, clique para editar</p>

  <div class="center-sm">
  <a data-url="{% url 'edit-adress' 'billing' %}" href="#" class="ajax btn btn-main">Editar</a>
</div>



  {% endif%}













  </div>

</div>



<script>
  flag_sucess= {% if flag_sucess %}true{% else %}false{% endif%} ;
  console.log("debug!!!!!!!!!!!!!!!!!!")
  console.log(flag_sucess)
  console.log("!!!!!!!!!!!!!!!!!")


  $(document).on('click', '.ajax', function(){ 
    console.log("aqui!!!!!!!!!!!!!!!!")
    $("#adressModal .modal-dialog").removeClass("d-none")

    url=$(this).data("url");

    $.ajax({                       
      url:url,
      
      data: {
        
      },
      success: function (data) {
        
        console.log("");
        $("#adressModal .modal-dialog").empty();

        $("#adressModal .modal-dialog ").append(data);
        $('#adressModal ').modal('toggle')
      },
      
    });



  });


</script>

