<!--users/templates/registration/login.html-->

{% extends 'base.html' %}

{% block content %}

<div style="min-height:400px"class="main">
<h2 class=" h2 pl-1 ">Iniciar Sessão</h2>
<hr align="left" class="hr mb-4">

<form style="padding-left:15px" method="post">
    {% csrf_token %}

    {% if error%}
    <div class="errorlist">
    <p>
        {{error}}
    
    </p>
    
    
    </div>

    {%endif%}
    {{ form.as_p }}
    <input type="submit" value="Login">
</form>
    <a style="margin-left:15px; margin-top:15px" class="anchor">Esqueceu-se da Password?</a>


</div>
{% endblock %}
