<!--users/templates/registration/login.html-->
<!--users/templates/registration/login.html-->

{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div style=" margin:auto"class="register bg-white my-5 px-3">
<h2 class=" h2 pl-1 pt-3 ">Iniciar Sessão</h2>
<hr align="left" class="hr mb-4">

<form style="padding-left:15px " method="post">
    {% csrf_token %}

    {{ form|crispy }}
    <div class="text-center">
    <input class="btn btn-main w-100"type="submit" value="Login">
</div>

</form>
    <a href=" {% url "password_reset" %}" style="margin-left:15px; margin-top:15px" class="nostyle anchor pb-5">Esqueceu-se da Password?</a>


</div>


<script>
$('#id_email').on('blur',function () {
    if( this.value == ''){

    }
     else{
         $('#id_username').val(this.value);

     }
});

</script>
{% endblock %}
