
{% extends 'base.html' %}

{% block content %}

<div class=" main " >


<div class="d-flex "  style="background-color:#9b41600a">

    <a id="dash-btn" style=" width: 90px; margin-top: 5px;"class=" mr-4 brand-color btn btn-main" > <i class=" fas fa-bars"></i> </a>


    <div  class="py-3 px-0 w-100 ">
        <h1 class="h3 " style="font-weight:600">Painel de Conta</h1>
        <hr class="hr " align="left">

    </div>
</div>
</div>

<div class="main dash pt-3">
<div class="left filter-menu menu2 ">
<div>
<h1 class="h4 brand-color ">Olá, {{user.first_name}}</h1>
<a href="{% url 'logout' %}"class="anchor nostyle">Logout</a>
</div>
<div class="my-account">
<a data-url="{% url 'ajax-get-account'%}" class="anchor ">A Minha Conta</a>
<a data-url="{% url 'ajax-get-my-orders'%}" class="anchor">As Minhas Encomendas</a>
<a data-url="{% url 'ajax-get-my-adresses'%}" class="anchor">As Minhas Moradas</a>
<a data-url="{% url 'ajax-edit-account'%}" class="anchor">Informações Da Conta</a>
</div>

</div>

{% if flag%}



{% else %}

<div class="right">
{% block contentRight %}


{% endblock contentRight %}
</div>

{% endif %}








</div>

<script>









let current_div=($(".dash .right"))



function first_load(){



{% if flag == 1 %}

const url= "{% url "ajax-get-account" %}"

{% elif flag == 2 %}
const url= "{% url "ajax-get-my-orders" %}"


{% elif flag == 3 %}
const url= "{% url "ajax-get-my-adresses" %}"


{% elif flag == 4 %}
const url= "{% url "ajax-edit-account" %}"



{% endif %}


$.ajax({                       
        url:url,
        type: 'GET',                
        data: {
            
        },
        success: function (data) {
          
            $(".dash").append(data);
            current_div=($(".dash .right"))

                
 

        },
        
    });


}






$( document ).ready(function() {

    {% if flag%}
    first_load()
{% endif %}







    $( ".my-account a" ).each(function() {

        console.log("-----------------------------------")
        console.log($(this).data('url'));
        console.log("{{url}}")

        console.log("-----------------------------------")

        if($(this).data('url')=="{{url}}"){
            $(this).addClass( "active" );
            
        }


    });
  
});
console.log("AQUI!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!")

console.log(current_div)


$(".my-account a").click(function() {
    $(".my-account a").removeClass( "active" );
    $( this ).addClass( "active" );
    let url=$( this ).data('url');

    let div_id=url.split("/")

    
    
    div_id="#"+div_id[div_id.length-2]
    let select_div=$(div_id)

    console.log('--------------------');
    console.log(current_div);
    console.log($(div_id));

                if(window.outerWidth < 811) {
                removeGray();
                $(".filter-menu").css('display', 'none');
                }
    console.log('--------------------');

    if(current_div[0]===select_div[0]){



    }

    else{

        
        if ($(div_id).length===0){

            $.ajax({                       
        url:url,
       type: 'GET',                 
        data: {
            
        },
        success: function (data) {
            console.log(div_id)
            current_div.toggle();
            $(".dash").append(data);
            current_div=($(div_id));

                
 

        },
        
    });

        }
        else{
            current_div.toggle();

            
           select_div.toggle();
            console.log("existe")
            current_div=($(div_id));

        }


    }


});
$(document).on('click', '#dash-btn', function(){


    console.log("click")
  createGray2();
  $(".filter-menu").css('display', 'block');

});
</script>

{% endblock %}

