{% load crispy_forms_tags %}



<div class="modal-content">
  <div class="modal-header">
    <h1 class="h2 font-weight-bold ">Editar {{title}}</h1>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">





    
    <div class="info">
      <h2 class="h4 mb-4">{{title}}</h2>
      <form  id="form-adress"class="form" action="" method="post" >
        {% csrf_token %}
        {% crispy form  %}

  <div class="form-check mb-3 ml-1" style="">
    <input type="checkbox" class="form-check-input" id="check-nif">
    <label class="form-check-label" for="check-nif">Sem NIF</label>
  </div>

  

</form>











  <div class="modal-footer">
    <button type="button" class="btn btn-main btn-secondary" data-dismiss="modal">Fechar</button>
    <a  class="btn btn-main w-30 submit" >Guardar</a>
  </div>
</div>

<script>


var flag_postal=false;
$("#id_postal_code").on("input", function() {
    console.log($(this).val());
    if($(this).val().length>5 || $(this).val().includes("-")){
        flag_postal=true;

    }
    else if ($(this).val().length<4 ){

        flag_postal=false;

    }
    if($(this).val().length==4 && flag_postal==false){
        
        temp=$(this).val()
        $(this).val(temp+"-")

    }
});




  $('#check-nif').change(function () {
    if ($(this).is(":checked")){
      $('#id_nif').prop('readonly', true);
      $('#id_nif').val("")
    }
    else{
      $('#id_nif').prop('readonly', false);


    }
  });

  $(".submit").click(function() {
          $( ".invalid-feedback" ).remove()
      $( "#id_nif" ).removeClass('is-invalid');
    if ($('#check-nif').is(":checked") || ( !($('#check-nif').is(":checked")) && $('#id_nif').val()!=="" ) ){
      {% comment %} $('.form').submit(); {% endcomment %}

      var inputs=$("#form-adress input")
      var formData={};
      inputs.each(function() {
        formData[$(this).attr('name')]=$(this).val();

      });


      console.log("ajax");


      $.ajax({
        
        url:" {% url 'edit-adress' type %} ",
        type : "POST",
        data: formData,


        success: function (data) {
           $("#temp").append(data)

          console.log(data)
          //$("#adressModal .modal-dialog").addClass("d-none")

          //
      
          console.log("debug aquiiiiiiii")
         
          if(flag_sucess===false){
          $("#adressModal .modal-dialog ").empty()
          $("#adressModal .modal-dialog ").append(data);
          ////$("#adressModal .modal-dialog").removeClass("d-none")

           console.log("false!!!!!!!!!!!!!!!!!!!")
           $("#temp").empty()
           
//
         }

//
         else{
           console.log("treu!!!!!!!!!!!!!!!!!!!")
             $('.modal-backdrop').remove()
          $('body').removeClass("modal-open")
          $(".adress").empty()
             
           $(".adress").append(data)
            //{% comment %} window.location.replace("{% url 'dashboard-args' 3 %}"); {% endcomment %}
            //$('#adressModal ').modal('hide');

            //$(".adress").empty()
             
           //$(".adress").append(data)

           //$('.modal-backdrop').remove()
           //$('body').removeClass("modal-open")
           $("#temp").empty()

           flag_sucess=false

         }  
         

       }


     });




    }

    else{
      $( "#div_id_nif" ).append( "<p class='invalid-feedback d-block ml-0'>Se não quiser Nif assinale ,Sem Nif </p>" );
      $( "#id_nif" ).addClass('is-invalid');

    }


  });
</script>
