
<div class="modal-content">
  <div class="modal-header">
    <h1 class="h2 font-weight-bold ">Editar {{title}}</h1>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">





    
    <div class="info">
      <h2 class="h4 mb-4">{{title}}</h2>
      <form  id="form-adress"class="form" action="" method="post" >
        {% csrf_token %}
        {{ form.receiver.errors }}
        <div class="form-group row">
          <label for="first-name" class="col-sm-2 col-form-label">{{name_label}}:</label>
          <div class="col-sm-10">
            <input id="id_receiver" type="text" value="{{ form.receiver.value }}" class="form-control" name="receiver" > 


          </div>
        </div>
        {{ form.street.errors }}

        <div class="form-group row">
          <label for="first-name" class="col-sm-2 col-form-label">Morada: </label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="id_street" name="street"value="{% firstof form.street.value ""  %}">
          </div>
        </div>
        {{ form.complements.errors }}


        {{ form.postal_code.errors }}
        <div class=" form-group  row location">

          <label class="col-md-2 col-lg-2 col-form-label "> Código Postal:</label>
          <div style="" class="col-md-10 col-lg-2 form-inline">
            <input  style="" type="text" class="form-control w-100" id="id_postal_code" name="postal_code" value="{% firstof form.postal_code.value ""  %}">
        </div>
        {{ form.city.errors }}
        <label class="col-md-2 col-lg-1  col-form-label "> Localidade:</label>
         <div  class="col-md-10 col-lg-3">

          <input style="" type="text" class="form-control w-100"  id="id_city" name="city" value="{% firstof form.city.value ""  %}">
      </div>
      {{ form.district.errors }}
      <label class="col-md-2 col-lg-1  col-form-label "> Distrito:</label>
       <div  class="col-md-10 col-lg-3">

        <input style="" type="text" class="form-control w-100" id="id_district" name="district" value="{% firstof form.district.value ""  %}">
    </div>
  </div>
  {{ form.contact.errors }}

  <div class="form-group row">
    <label for="first-name" class="col-sm-2 col-form-label">Contacto: </label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="id_contact" name="contact" value="{% firstof form.contact.value ""  %}">
    </div>
  </div>

  {{ form.nif.errors }}
  <div class="form-group row nif-div">
    <label for="nif" class="col-sm-2 col-form-label">NIF: </label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="id_nif" name="nif" value="{% firstof form.nif.value ""  %}">
    </div>
  </div>
  <div class="form-check mb-3" style="margin-left: 16.666667%">
    <input type="checkbox" class="form-check-input" id="check-nif">
    <label class="form-check-label" for="check-nif">Sem NIF</label>
  </div>

  

</form>











  <div class="modal-footer">
    <button type="button" class="btn btn-main btn-secondary" data-dismiss="modal">Fechar</button>
    <a  class="btn btn-main w-30 submit" >Guardar</a>
  </div>
</div>

<script>


var flag_postal=false;
$("#id_postal_code").on("input", function() {
    console.log($(this).val());
    if($(this).val().length>5 || $(this).val().includes("-")){
        flag_postal=true;

    }
    else if ($(this).val().length<4 ){

        flag_postal=false;

    }
    if($(this).val().length==4 && flag_postal==false){
        
        temp=$(this).val()
        $(this).val(temp+"-")

    }
});




  $('#check-nif').change(function () {
    if ($(this).is(":checked")){
      $('#id_nif').prop('readonly', true);
      $('#id_nif').val("")
    }
    else{
      $('#id_nif').prop('readonly', false);


    }
  });

  $(".submit").click(function() {
    console.log("aqui!");
    if ($('#check-nif').is(":checked") || ( !($('#check-nif').is(":checked")) && $('#id_nif').val()!=="" ) ){
      {% comment %} $('.form').submit(); {% endcomment %}

      var inputs=$("#form-adress input")
      var formData={};
      inputs.each(function() {
        formData[$(this).attr('name')]=$(this).val();

      });


      console.log("ajax");


      $.ajax({
        
        url:" {% url 'edit-adress' type %} ",
        type : "POST",
        data: formData,


        success: function (data) {
          $("#adressModal .modal-dialog ").empty()
          $("#adressModal .modal-dialog").addClass("d-none")
          $("#adressModal .modal-dialog ").append(data);

          //
          console.log(flag_sucess)
          if(flag_sucess===false){
          $("#adressModal .modal-dialog").removeClass("d-none")

           console.log("false!!!!!!!!!!!!!!!!!!!")
           

         }


         else{
            {% comment %} window.location.replace("{% url 'dashboard-args' 3 %}"); {% endcomment %}
            $('#adressModal ').modal('hide');

            $(".adress").empty()
           $(".adress").append(data)
           {% comment %} $("#checkout-adresses").empty()
           $("#checkout-adresses").append(data) {% endcomment %}
           $('.modal-backdrop').remove()
           $('body').removeClass("modal-open")
           flag_sucess=false

         } 

       }


     });




    }

    else{
      $( ".nif-div" ).before( "<div class='errorlist'>Se não quiser Nif assinale ,Sem Nif </div>" );

    }


  });
</script>
