{% load static %}





{% if request.session.cart %}



<img class="btn-close white" src=" {% static 'store/images/icons/close.svg' %}"alt="logo" style=" margin-left:15px;"> 
    <div class="header" style="overflow: hidden">

        <h1 class="h2">Carrinho de Compras</h1>
        <h3 class="price pt-4">Total: <span id="cart-total"> {{cart.total}} </span>€</h3> 
        <div class="w-100 ">
        <a class="nostyle float-right mt-0" id="btn-cart-clean"  >Limpar Carrinho</a>
        </div>
    </div>

    {% if error %}
        <div class="py-2 error" style="background-color:#ee0753">
            
        <p class="ml-1 h5 font-weight-bold" style="color:white"><i class="fas fa-exclamation-triangle"></i> {{ error}} </p>
        </div>


    {% endif %}

    <div class=" pt-5">
        {% comment %} <h3 class="h5 ">O carrinho está vazio</h3> {% endcomment %}
        
        
        {% for item in cart.items.all%}
        <div class="w-100 row mb-5" style="position: relative" >
        <div class="w-100" style="">
        <div class="btn-cart-remove">
        
        <a href="#"id="" class="btn-cart-remove-item brand-color" data-url="{% url 'ajax-remove-item-cart' item.pk %}" class="font-weight-bold nostyle " > <i class="fas fa-times  "></i> Remover </a>
        
        </div>
        </div>











          <div style=""class="img-container d-flex justify-content-center align-items-center">
            <img  src=" {{item.product.main_image.url}}" style="" class="d-block  ml-2 ">
          </div>


            <div class="cart-item col">
                <h1 class="h4" style="text-overflow: ellipsis;overflow: hidden;">{{item.product.name}} </h1>
                <div class="cart-item-qty-div ml-0 row h6">
                <p class="h6">Quantidade: <span class="cart-item-qty">{{item.quantity}}</span></p>
            
                <a class=" btn-cart-update pl-2 brand-color font-weight-bold nostyle "href="#" data-type="minus" data-url="{% url 'ajax-update-qty-cart' item.pk 'minus' %}">-</a>
                <a class=" btn-cart-update pl-1 brand-color font-weight-bold nostyle"href="#" data-type="add" data-url="{% url 'ajax-update-qty-cart' item.pk 'add' %}">+</a>
                </div>
                <h2 class="h4 brand-color mt-3">{{item.product.price}} €</h2> 

            </div>
        </div>
        {% endfor%}
     

        
    <div class="text-center mt-5">


    <button type="button" class="btn btn-main " data-toggle="modal" data-target="#cartModal">Finalizar Compra</button>                                                                      
    {% comment %} <a href={% url 'checkout' %} class=" btn btn-main  align-middle">Finalizar Compra</a> {% endcomment %}

    </div>


{% else%}



<img class="btn-close white" src=" {% static 'store/images/icons/close.svg' %}"alt="logo"> 
    <div class="header" style="overflow: hidden">

        <h1 class="h2">Carrinho de Compras</h1>
        </div>
    
    <div class="container ">
        <h3 class="h5 ">O carrinho está vazio</h3>


    </div>
{% endif%}










                

<script>

$(".btn-cart-update").click(function() {
    url=$(this).data('url');
    let qtyObject=$(this).parent().find('.cart-item-qty')[0];
    $(".error").remove()

    console.log(qtyObject);
  $.ajax({                       
        url:url,
                        
        data: {
            
        },
        success: function (data) {


            if (data==="-1"){
                console.log($(".overlay-cart .header"))
                $("#overlay-cart .header").after('<div class="py-2 error" style="background-color:#ee0753"> <p class="ml-1 h5 font-weight-bold" style="color:white"><i class="fas fa-exclamation-triangle"></i> Ultrapassou o stock </p> </div>');
            }
            if (/^[\],:{}\s]*$/.test(data.replace(/\\["\\\/bfnrtu]/g, '@').replace(/"[^"\\\n\r]*"|true|false|null|-?\d+(?:\.\d*)?(?:[eE][+\-]?\d+)?/g, ']').replace(/(?:^|:|,)(?:\s*\[)+/g, ''))){
                var dataJSON=JSON.parse(data);

                let qty=dataJSON.qty;
                let total=dataJSON.total;

                $(qtyObject).text(qty);
                $('#cart-total').text(total);

                console.log(qty);

            }
            else{
                renderCart(data);

            }
        },
        
    });
});

$(".btn-cart-remove-item").on('click touchstart', function() {
    url=$(this).data("url");
    console.log($(this).data("url"));

    $.ajax({                       
        url:url,
                        
        data: {
            
        },
        success: function (data) {
            renderCart(data);
       
        },
        
    });

});


</script>