









<!-- Modal -->
<div class="modal fade" id="modal-wait" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Aguarde</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Pedimos que aguarde enquanto verificamos os seus dados</p>
      </div>
      <div class="modal-footer">
        
      </div>
    </div>
  </div>
</div>










<div style="padding-left:20px" class="mr-4 div-payment">

<form id="mbway-form" class="form" action="{% url 'checkout-payment'%}" method="post" >
{% csrf_token %}
<input class="w-100 form-control " type="hidden" name="shipment" value="">
<input  type="hidden" name="payment-method" value="mbway">


<div class="form-group ">
<p>Deseja adicionar algum comentário à sua encomenda?</p>
<input class="w-100 form-control "type="text" name="note" class="">
</div>

<div   class="padding ">
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">
                    <strong>MB Way</strong>
                    <small>Prencha com os seus dados</small>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="name">Numero de Telemóvel:</label>
                                <input id="mbway-input" class="form-control" required id="name" name="telemovel" type="text" placeholder="Insira o seu numero de telemóvel">
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="card-footer">
                    <a  id="mbway-btn" class="btn btn-main ">Finalizar<a>
                        
                
                </div>
            </div>
        </div>
    </div>
</div>


</form>

</div>

<script>

$(document).on('click', '#mbway-btn', function(){    
$(".invalid-feedback").remove()

if($("#mbway-input").val().length<9){
    $("#mbway-input").addClass("is-invalid")
    
    $("#mbway-input").after('<p id="" class="invalid-feedback"><strong>Verifique o seu contacto e tente outra vez.</strong></p>')

}
else{

mbway_ajax()

}

 

}); 



function mbway_ajax(){

   $("[name='shipment']").val(shipment_pk);

    $('#modal-wait').modal('toggle')
    $('#modal-wait').unbind("click");
    var form=$("#mbway-form")
    var url="{% url 'checkout-payment' %}"
    return $.ajax({
        type: "POST",
        url: url,
        data: form.serialize(), // serializes the form's elements.
        success: function(data)
        {

            
              if(data=="-1"){
                $("#mbway-input").addClass("is-invalid")
    
                $("#mbway-input").after('<p id="" class="invalid-feedback"><strong>Verifique o seu contacto e tente outra vez.</strong></p>')
                $('#modal-wait').modal('toggle')

    }
              else{
                  window.location.href = '../'+data;

              }
 


            
        }
        });


}
{% comment %} mbway_ajax().then( response => 
  console.log(response);
); {% endcomment %}
  {% comment %} function(){
  if(data=="-1"){
                $("#mbway-input").addClass("is-invalid")
    
                $("#mbway-input").after('<p id="" class="invalid-feedback"><strong>Verifique o seu contacto e tente outra vez.</strong></p>')
    }
        
  }); {% endcomment %}


</script>