{% extends 'base.html' %}

{% block content %}


<div class="main dash">
<div class="left">
<div>
<h1 class="h4 brand-color ">Olá, {{user.username}}</h1>
<a class="anchor">Logout</a>
</div>
<div class="my-account">
<h1 class="h3 mb-3">Painel de Conta</h1>

<a  href="{% url 'administrator'%}" class="anchor nostyle">Geral</a>


<a  href="{% url 'administrator-orders'%}" class="anchor  nostyle">Encomendas (<span id="span-unread"></span>)</a>


<a  href="{% url 'administrator-products' %}" class="anchor nostyle">Produtos</a>
<a  href="#" class="anchor nostyle">Categorias</a>
<a  href="{% url 'administrator-shipments' %}" class="anchor nostyle">Métodos de Envio</a>
<a  href="{% url 'administrator-users' %}" class="anchor nostyle">Utilizadores</a>
</div>

</div>



<div class="right">
{% block contentRight %}


{% endblock contentRight %}
</div>








</div>
<script>







$( document ).ready(function() {

function ajax_get_unread(){

$.ajax({     

            url:"{% url 'ajax-get-unread' %}",
            type:"GET",           
            data: {
                
            },
            success: function (data) {
 
     
                $("#span-unread").text(data)
            },
            
        });
                

                   
        


}

ajax_get_unread()

});
</script>


{% endblock %}

